## Data Types

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType

## Control Flow

In [16]:
a = 33
b = 200
if b > a:
 print("b is greater than a")

b is greater than a

In [17]:
a = 33
b = 33
if b > a:
 print("b is greater than a")
elif a == b:
 print("a and b are equal")

a and b are equal

In [18]:
a = 200
b = 33
if b > a:
 print("b is greater than a")
elif a == b:
 print("a and b are equal")
else:
 print("a is greater than b")

a is greater than b

In [19]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
 print(x)

apple
banana
cherry

In [22]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
   break

apple
banana

In [25]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
 if x == "banana":
  continue
  print(x)

## Functions

In [1]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

A parameter is the variable listed inside the parentheses in the function definition.
An argument is the value that is sent to the function when it is called.

In [2]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

## Arrays

In [11]:
cars = ["BMW","Volvo","Subaru","V8"]


print(cars[2])
cars.append("Voxy")
cars.pop(1)


for car in cars:
    print(car)

print(type(cars))

Subaru
BMW
Subaru
V8
Voxy
<class 'list'>

# Lists

In [10]:
thislist = ["apple", "banana", "cherry"]
list1 = ["abc", 34, True, 40, "male"]
print(thislist)
print(list1)

['apple', 'banana', 'cherry']
['abc', 34, True, 40, 'male']

# Tuples

In [12]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

# Set

In [13]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

# Dictionary

In [14]:
thisdict = {
 "brand": "Ford",
 "model": "Mustang",
 "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

# OOP

## Classes and Objects

In [3]:
class Dog:
 color = "white"
 breed = "PitBull"
c = Dog()

print(c.color)
print(c.breed)

white
PitBull

# Review Questions

In [3]:
# Write a function that accepts three values and return their product

def multFunct(var1,var2,var3):
    return var1 * var2 * var3

print(multFunct(12,45,67))

36180

In [5]:
# Create a class named Person, use the __init__() function to assign values for name and age

class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age

p1 = Person("Brian",45)

print(f"Name : {p1.name}")
print(f"Age : {p1.age}")

Name : Brian
Age : 45

In [15]:
# Write a program that demonstrates various string methods.


# String initialization
text = " Hello, Python! "

# Demonstrating various string methods
print("Original string:", text)

# Strip whitespace from the start and end
print("Strip:", text.strip())

# Convert to uppercase
print("Uppercase:", text.upper())

# Convert to lowercase
print("Lowercase:", text.lower())

# Replace a substring
print("Replace 'Python' with 'World':", text.replace("Python", "World"))

# Check if the string starts with a specific substring
print("Starts with ' Hello':", text.startswith(" Hello"))

# Check if the string ends with a specific substring
print("Ends with '!':", text.endswith("!"))

# Split the string into a list
print("Split by comma:", text.split(","))

# Join a list of strings into one string
words = ["Join", "these", "words"]
print("Join with spaces:", " ".join(words))

# Find the position of a substring
print("Position of 'Python':", text.find("Python"))

# Count occurrences of a substring
print("Count of 'o':", text.count("o"))

# Check if all characters are alphanumeric
print("Is alphanumeric:", text.isalnum())

# Check if all characters are alphabetic
print("Is alphabetic:", text.isalpha())

# Check if all characters are digits
print("Is digit:", "12345".isdigit())

# Swap case
print("Swap case:", text.swapcase())

# Title case
print("Title case:", text.title())

Original string:  Hello, Python!
Strip: Hello, Python!
Uppercase:  HELLO, PYTHON!
Lowercase:  hello, python!
Replace 'Python' with 'World':  Hello, World!
Starts with ' Hello': True
Ends with '!': False
Split by comma: [' Hello', ' Python! ']
Join with spaces: Join these words
Position of 'Python': 8
Count of 'o': 2
Is alphanumeric: False
Is alphabetic: False
Is digit: True
Swap case:  hELLO, pYTHON!
Title case:  Hello, Python!

In [35]:
#Write a Python program that displays the grade give total marks using below grading system
'''Marks Grade
70 and Above A
60-69 B
50-59 C
40-49 D
0-39 E'''

def getGrade(m):
    if 70 <= m <= 100:
        grade = "A"
    elif 60 <= m <= 69:
        grade = "B"
    elif 50 <= m <= 59:
        grade = "C"
    elif 40 <= m <= 49:
        grade = "D"
    elif 0 <= m <= 39:
        grade = "E"
    else:
        grade = "Invalid"
    return grade  

# Input from the user
marks = int(input("Enter your marks: "))
grade = getGrade(marks) 
print(f"Your Grade is: {grade}")

Enter your marks:  78

Your Grade is: A

In [39]:
# Write a program to display even numbers from 50 down to 10 using for loop.

for i in range(50,9,-2):
        print(i)

50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10

In [ ]:
# . Convert the program in 2 above to use while loop and skip numbers 42 and 40.