# Pandas Learning notebook

## What is Pandas?

Pandas is an open-source Python Library used for high-performance data manipulation and data analysis using its powerful data structures

## Key Features of Pandas

1. Fast and efficient DataFrame object with default and customized indexing.
2. Tools for loading data into in-memory data objects from different file formats.
3. Data alignment and integrated handling of missing data.
4. Reshaping and pivoting of date sets.
5. Label-based slicing, indexing and subsetting of large data sets.
6. Columns from a data structure can be deleted or inserted.
7. Group by data for aggregation and transformations.
8. High performance merging and joining of data.
9. Time Series functionality.

### Creating a dataframe using List:

In [2]:
import pandas as pd

name = ["JKL","Tony","Trinity","Durov","Turkwel"]

df = pd.DataFrame(name)

print(df)

         0
0      JKL
1     Tony
2  Trinity
3    Durov
4  Turkwel

### Creating DataFrame from dict of ndarray/lists

In [6]:
import pandas as pd

data = {
        "names" : ["Brian","Tevin","Kairo"],
         "IDS" : [1045858,7878,988],
         "Age":[20, 21, 19]
}


df = pd.DataFrame(data)

print(df)

   names      IDS  Age
0  Brian  1045858   20
1  Tevin     7878   21
2  Kairo      988   19

#

## Dealing with Rows and Columns

In [10]:
import pandas as pd
 
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
 
df = pd.DataFrame(data)

print(df[['Name','Qualification']])

     Name Qualification
0     Jai           Msc
1  Princi            MA
2  Gaurav           MCA
3    Anuj           Phd

In [14]:
print(df[['Address']])

     Address
0      Delhi
1     Kanpur
2  Allahabad
3    Kannauj

##

### Reading data from csv

In [16]:
import pandas as pd

data = pd.read_csv("nba.csv",index_col="Name")

print(data)

                         Team  Number Position   Age Height  Weight  \
Name
Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
Jae Crowder    Boston Celtics    99.0       SF  25.0    6-6   235.0
John Holland   Boston Celtics    30.0       SG  27.0    6-5   205.0
R.J. Hunter    Boston Celtics    28.0       SG  22.0    6-5   185.0
Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
...                       ...     ...      ...   ...    ...     ...
Shelvin Mack        Utah Jazz     8.0       PG  26.0    6-3   203.0
Raul Neto           Utah Jazz    25.0       PG  24.0    6-1   179.0
Tibor Pleiss        Utah Jazz    21.0        C  26.0    7-3   256.0
Jeff Withey         Utah Jazz    24.0        C  26.0    7-0   231.0
NaN                       NaN     NaN      NaN   NaN    NaN     NaN

                         College     Salary
Name
Avery Bradley              Texas  7730337.0
Jae Crowder            Marquette  6796117.0
John Holland   Boston University        NaN
R.J. Hunter        Georgia State  1148640.0
Jonas Jerebko                NaN  5000000.0
...                          ...        ...
Shelvin Mack              Butler  2433333.0
Raul Neto                    NaN   900000.0
Tibor Pleiss                 NaN  2900000.0
Jeff Withey               Kansas   947276.0
NaN                          NaN        NaN

[458 rows x 8 columns]

In [18]:
first = data.loc["R.J. Hunter"]

In [19]:
print(first)

Team        Boston Celtics
Number                28.0
Position                SG
Age                   22.0
Height                 6-5
Weight               185.0
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object

#

## Indexing and Selecting Data